button {
  width: 100%;
  background-color: green;
  border : none;
  border-radius: 5px;
  color : #fff;
}

.time-value {
  font-size : 70px;
  font-weight : bold;
  color : orange;
}

.row {
  margin-top: 20px;
}